<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增请假申请')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: jasny-bootstrap-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-leave-add">
            <!--<div class="form-group">
                <label class="col-sm-3 control-label">请假类型：</label>
                <div class="col-sm-8">
                    <select name="type" class="form-control m-b" th:with="type=${@dict.getType('biz_leave_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>标题：</label>
                <div class="col-sm-8">
                    <input name="title" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>原因：</label>
                <div class="col-sm-8">
                    <textarea name="reason" class="form-control" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>开始时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="startTime" class="form-control calcTotalSecondInput" placeholder="yyyy-MM-dd HH:mm" type="text" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>结束时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="endTime" class="form-control calcTotalSecondInput" placeholder="yyyy-MM-dd HH:mm" type="text" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">请假时长：</label>
                <div class="col-sm-8">
                    <input name="totalTime" class="form-control" type="text" style="display: none;">
                    <input name="totalTimeText" class="form-control" type="text" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">上传流程附件：</label>
                <div class="col-sm-8">
                    <div id="leaveUploadAccessoryDiv" class="fileinput fileinput-new" data-provides="fileinput" style="margin-bottom: 0; margin-right: -3px;">

                        <span class="btn btn-success btn-file" style="font-size: 12px;">
                            <span><i class="fa fa-upload"></i>点击按钮上传</span>
                            <input type="file" name="leaveUploadAccessory" multiple>
                            <input name="fileName" class="form-control" type="text" style="display: none;">
                            <input name="filePath" class="form-control" type="text" style="display: none;">
                        </span>
                        <span class="fileinput-filename"></span>
                    <!--    <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>-->
                    </div>
                </div>
            </div>


        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: jasny-bootstrap-js" />
    <script th:src="@{/js/activiti.js}"></script>
    <script th:inline="javascript">
        var prefix = ctx + "leave"
        $("#form-leave-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form() && validateStartTimeAndEndTime()) {
                $.operate.save(prefix + "/add", $('#form-leave-add').serialize());
            }
        }

        $("input[name='startTime']").datetimepicker({
            autoclose: true,
            startDate: new Date()
        });

        $("input[name='endTime']").datetimepicker({
            autoclose: true,
            startDate: new Date()
        });

        // 监听开始和结束日期填写，动态生成请假时长
        $('.calcTotalSecondInput').change(function () {
            if (!$('input[name="startTime"]').val() || !$('input[name="endTime"]').val()) {
               return;
            }
            if (validateStartTimeAndEndTime()) {
                var totalSecond = calcTotalSecond($('input[name="startTime"]').val(), $('input[name="endTime"]').val());
                $('input[name="totalTime"]').val(totalSecond);
                var dateSub = formatTotalDateSub(totalSecond);
                $('input[name="totalTimeText"]').val(dateSub);
            }
        });

        function validateStartTimeAndEndTime() {
            if ($('input[name="startTime"]').val() >= $('input[name="endTime"]').val()) {
                $.modal.alertWarning("结束时间必须大于开始时间");
                return false;
            }
            return true;
        }


        $('#leaveUploadAccessoryDiv').on('change.bs.fileinput', function (e) {
            // 处理自己的业务
            var formdata = new FormData();
            var file = $('input[type=file]')[0].files[0];

            if (1024 * 1024 < file.size) {
                $.modal.msgError("仅支持上传大小为1M的文件！");
                $('#leaveUploadAccessoryDiv').fileinput('reset');
                return;
            }

            formdata.append("leaveUploadAccessory", file);
            $.ajax({
                url: prefix + '/upload',
                data: formdata,
                type: "post",
                processData: false,
                contentType: false,
                success: function(result) {
                    if (0 !== result.code) {
                        $.modal.msgError(result.msg);
                        $('#leaveUploadAccessoryDiv').fileinput('reset');
                        return;
                    }
                    $('input[name="fileName"]').val(file.name);
                    $('input[name="filePath"]').val(result.msg);
                }
            })
        });

    </script>
</body>
</html>
